/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    font-smooth:always;
    color: #666;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #ddd;
    color: #444;
    text-shadow: none;
}

::selection {
    background: #ddd;
    color: #444;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    overflow-x:hidden;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 10%;
}

/* ===================
    ALL
   =================== */


.header-container {
}

.footer-container,
.main aside {
    border-top: 20px solid #fff;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;
}

.title {
    padding-left:2%;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    font-weight: 100;
    font-size:2em;
    color: #08a;
}
#time {
    border: 1px solid #333;
    background-color: #000;
    color: #eee;
}
.saved {
    width:100%;
    background-color:#484848;
    position:fixed;
    bottom:0px;
    left:0px;
    color:#eee;
    text-align: center;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0 ;

    text-align: center;
    text-decoration: none;
    font-weight: 200;

    color: #ccc;
    background: #fff;
}

nav a:hover,
nav a:visited {
    color: #aaa;
}

nav a:hover {
    color:#044;
    text-decoration: none;
}
.alarm a:link, .alarm a:visited {
    color: #222;
}
/* ==============
    MOBILE: Main
   ============== */

.pandora {
    font-weight:800;
    color:#455774;
    text-decoration: none;
}
.clock {
    font-family: 'Oswald', sans-serif;
    color: #484848;
    font-size: 4em;
    font-weight: 100;
}

.settings {
    padding-left:20%;
    width:70%;
    margin: 0 auto;
}
.settings .button {
    margin:10px 2px;
    border:1px solid #044;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 

    font-weight:bold;
    color: #dff;
    background-color: #222;
}


.alarm, .about {
    padding: 5px 25px;
    display: none;
    border-radius: 3px;
    margin: 0 0;
    width:100%;
    color: #eee;
    background-color:#08a;
}
.alarm p, .about p {
    text-align:center;
}

.main {
    padding: 30px  20%;
}

.footer-container footer {
    font-weight: 200;
    color: #ddd;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
.arrow-up {
    position: relative;
    left:40%;
    top:6px; 
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 10px solid #08a;
}
.about, .alarm {
    height:auto;
    opacity:1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.clock {
    padding-top: 12%;
    padding-right: 10%;
    font-size: 7em;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.clock:hover {
    color:#a5507E;
    cursor: default;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
    nav a {
        
        float: left;
        width: 27%;
        
        padding: 5px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/* ============
    WIDE: Menu
   ============ */

    .clock {
        padding-top: 12%;
        padding-right: 10%;
        font-size: 9em;
    }
    .settings {
        padding-left:4%;
        padding: 10px 10px;
        margin: 0 auto;
        width:18%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
    }
    nav {
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .header-container {
        width:1000px;
    }
    .clock {
        text-align:center;
        padding-top: 10%;
        padding-right: 10%;
        font-size: 13em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}